html, body {
    padding: 0;
    margin: 0;
}

.header {
    font-family: 'Michroma', sans-serif;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.9rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: 1px solid black;
}

.header a {
    color: black;
    text-decoration: none;
}


.header a:hover {
    text-decoration: underline;
}

.nav {
    float: right;
}

body {
    font-family: 'Nunito Sans', sans-serif;
}

.side-tag {
    text-align: right;
    font-family:bold;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: absolute;
    top: 16rem;
    left: -10rem;
    font-size: 2.5rem;
    font-weight: bold;
}

.bar-code {
    font-family: 'Libre Barcode 39', cursive;
    font-weight: normal;
}

.page {
    margin-top: 1.1rem;
    margin-left: 8rem;
}

p, h1 {
    margin: 0px;
    max-width: 600px;
    margin-right: 1rem;
}

h1 {
    font-family: 'Michroma', sans-serif;
    font-size: 1.4rem;
    margin-bottom: .1rem;
}

p {
    margin-bottom: .2rem;
}

.title img {
    display: inline;
    width: 1.9rem;
}


@media screen and (max-width: 600px) {
    .header {
        margin-left: 0;
        margin-right: 0;
    }

    .header a {
        font-size: .9rem;
    }

    .side-tag {
        top: 12rem;
        left: -6.5rem;
        font-size: 1.5rem;
    }

    .page {
        margin-left: 4rem;
    }

    h1 {
        font-size: 1.7rem;
    }

    .subscribe {
        text-decoration: underline;
    }
}